.hero {
  background-color: @teal-20;
  
  &_wrapper {
    .wrapper();
    padding-top: unit(@grid_gutter-width / @base-font-size-px, em);
    padding-right: unit((@grid_gutter-width / 2) / @base-font-size-px, em);
    // bottom padding = image height + padding for top/bottom of image
    padding-bottom: unit((195px + @grid_gutter-width * 2) / @base-font-size-px, em); 
    padding-left: unit((@grid_gutter-width / 2) / @base-font-size-px, em);
    background-image: url('../img/hero-housekey.png');
    background-position: center bottom unit(@grid_gutter-width / @base-font-size-px, em);
    background-repeat: no-repeat;
    background-size: 350px;

    .respond-to-min(@tablet-min, {
      padding-left: unit(@grid_gutter-width / @base-font-size-px, em);
      // right padding = image width + padding for left/right of image
      padding-right: unit((230px + @grid_gutter-width * 2) / @base-font-size-px, em);
      padding-bottom: unit(@grid_gutter-width / @base-font-size-px, em);
      background-position: right unit(@grid_gutter-width / @base-font-size-px, em)
                           top unit(@grid_gutter-width / @base-font-size-px, em);
      background-size: 230px;
    });

    .respond-to-min(800px, {
      box-sizing: border-box;
      min-height: 300px;
      padding-top: unit(40px / @base-font-size-px, em);
      padding-bottom: unit(40px / @base-font-size-px, em);
      // right padding = image width + padding for left/right of image
      padding-right: unit((350px + @grid_gutter-width * 2) / @base-font-size-px, em);
      padding-left: unit( (@grid_gutter-width * 2) / @base-font-size-px, em);
      background-position: right unit(@grid_gutter-width / @base-font-size-px, em) center;
      background-size: 350px;
    });
    
    .lt-ie9 & {
      // Reduce min-height because IE8 apparently isn't honoring the border-box property,
      // perhaps due to bug seen here: http://grab.by/JutE
      min-height: 0;
      // Fallback for four-value bg-pos syntax
      background-position: right center;
    }
  }
  
  &_heading {
    .h2();
    .respond-to-min(800px, {
      .h1();
    });
  }
  
  &_subhead {
    .h4();
    .webfont-regular();
    margin-bottom: 0;

    .respond-to-min(800px, {
      .h3();
      margin-bottom: 0;
    });
  }

  &_cta {
    .webfont-regular();
    margin-top: @grid_gutter-width;
    margin-bottom: 0;
    
    a& {
      display: block;
    }
  }
}


