{% extends "base.html" %}
{% block title %}Heroes{% endblock title %}
{% block content %}
<main class="content content__2-1 content__bleedbar" id="main" role="main">
  <section class="content_hero hero u-mb30">
        <div class="hero_wrapper">
          <div class="hero_text">
            <h1 class="hero_heading">Owning a Home</h1>
            <p class="hero_subhead">
                We're here to help you with buying and financing your home. Learn what to expect and what questions to ask, and get tools and resources to help you make decisions.
            </p>
          </div>
        </div>
    </section>
    
   <section class="content_hero hero u-mb30">
        <div class="hero_wrapper">
            <h1 class="hero_heading">Owning a Home</h1>
            <p class="hero_subhead">
                We're here to help you with buying and financing your home. Learn what to expect and what questions to ask, and get tools and resources to help you make decisions.
            </p>
            <p class="hero_cta"><a>Call to action</a></p>
        </div>
    </section>
    
    
    <section class="content_hero hero">
          <div class="hero_wrapper">
              <h1 class="hero_heading">Second hero showing variation</h1>
              <p class="hero_subhead">
                  We're here to help you with buying and financing your home. Learn what to expect and what questions to ask, and get tools and resources to help you make decisions.
              </p>
              <p class="hero_cta"><button class="btn">Call to action</button></p>
          </div>
      </section>
      
  <!-- .hero -->
  <div class="content_wrapper">
   
    <!-- .content_main -->
    <aside class="content_sidebar">
      
    </aside>
    <!-- .content_sidebar -->
  </div>
</main>
{% endblock %}
