{% extends "base.html" %}
{% block title %}Heroes{% endblock title %}
{% block content %}
<main class="content content__2-1 content__bleedbar" id="main" role="main">
  <section class="content_hero hero my-hero hero__small-content u-mb30">
        <div class="hero_wrapper wrapper wrapper__match-content">
          <div class="hero_text">
            <h1 class="hero_heading">Owning a Home</h1>
            <p class="hero_subhead">
                We're here to help you with buying and financing your home. Learn what to expect and what questions to ask, and get tools and resources to help you make decisions.
            </p>
          </div>
        </div>
    </section>
    
   <section class="content_hero hero my-hero u-mb30">
        <div class="hero_wrapper wrapper wrapper__match-content">
            <h1 class="hero_heading">Owning a Home</h1>
            <p class="hero_subhead">
                We're here to help you with buying and financing your home. Learn what to expect and what questions to ask, and get tools and resources to help you make decisions.
            </p>
            <p class="hero_cta"><a>Call to action</a></p>
        </div>
    </section>
    
    
    <section class="content_hero hero my-hero hero__wide-image">
          <div class="hero_wrapper wrapper wrapper__match-content">
              <h1 class="hero_heading">Second hero showing variation</h1>
              <p class="hero_subhead">
                  We're here to help you with buying and financing your home. Learn what to expect and what questions to ask, and get tools and resources to help you make decisions.
              </p>
              <p class="hero_cta"><button class="btn">Call to action</button></p>
          </div>
      </section>
      
  <!-- .hero -->
  <div class="content_wrapper">
   
    <div class="content-l u-mt30">
      <div class="content-l_col content-l_col-7-12">

        <p>The 
          <a class="icon-link icon-link__external-link" href="http://www.benefits.va.gov/homeloans/" target="_blank">
            <span class="icon-link_text">Department of Veterans' Affairs (VA)</span>
          </a>
         has a loan program for <a href="http://www.benefits.va.gov/homeloans/purchaseco_certificate.asp" target="_blank">eligible veterans, current servicemembers, and surviving spouses</a>. The loans are made by private lenders and guaranteed by the VA. </p>
      </div>
      <div class="content-l_col content-l_col-5-12">

        <p>The 
          <a class="icon-link icon-link__external-link" href="http://www.benefits.va.gov/homeloans/" target="_blank">
            <span class="icon-link_text">Department of Veterans' Affairs (VA)</span>
          </a>
         has a loan program for <a href="http://www.benefits.va.gov/homeloans/purchaseco_certificate.asp" target="_blank">eligible veterans, current servicemembers, and surviving spouses</a>. The loans are made by private lenders and guaranteed by the VA. </p>
      </div>
    </div>
  </div>
</main>
{% endblock %}
