{% extends "base.html" %}
{% block title %}Heroes{% endblock title %}
{% block content %}
<main class="content content__2-1 content__bleedbar" id="main" role="main">
  <div class="content_wrapper">
    <section class="content_main">
      
      <section class="fcm fcm__left u-mt30">
        <div class="fcm_text">
          <h2 class="fcm_tag">
            <span class="fcm_icon cf-icon cf-icon-date"></span>
            Featured event
          </h2>
          <h1 class="fcm_headline">Consumer Advisory Board meeting</h1>
          <p class="fcm_body">Oct 22, 2015 @ 10:00AM EDT <br/>Washington, DC</p>
          <a class="fcm_cta jump-link">Read more about the event</a>
        </div>
        <div class="fcm_visual">
          <div class="fcm_wrapper">
            <img src="http://placekitten.com/g/540/270">
          </div>
        </div>
      </section>
      
      <div class="content-l u-mt30">
        <div class="content-l_col content-l_col-1-3">

          <p>The 
            <a class="icon-link icon-link__external-link" href="http://www.benefits.va.gov/homeloans/" target="_blank">
              <span class="icon-link_text">Department of Veterans' Affairs (VA)</span>
            </a>
           has a loan program for <a href="http://www.benefits.va.gov/homeloans/purchaseco_certificate.asp" target="_blank">eligible veterans, current servicemembers, and surviving spouses</a>. The loans are made by private lenders and guaranteed by the VA. </p>
        </div>
        <div class="content-l_col content-l_col-2-3">

          <p>The 
            <a class="icon-link icon-link__external-link" href="http://www.benefits.va.gov/homeloans/" target="_blank">
              <span class="icon-link_text">Department of Veterans' Affairs (VA)</span>
            </a>
           has a loan program for <a href="http://www.benefits.va.gov/homeloans/purchaseco_certificate.asp" target="_blank">eligible veterans, current servicemembers, and surviving spouses</a>. The loans are made by private lenders and guaranteed by the VA. </p>
        </div>
      </div>
      
    </section>
    <!-- .content_main -->
    <aside class="content_sidebar">
      
    </aside>
    <!-- .content_sidebar -->
  </div>
</main>
{% endblock %}
