{% extends "base.html" %}

{% block title %}Owning a Home: FCM{% endblock title %}

{% block content %}

<main class="content content__1-3" id="main" role="main">
  <div class="content_wrapper">
    <aside class="content_sidebar">
      {% include "sidebar_nav.html" %}
    </aside>
    <section class="content_main">
      <section class="fcm fcm__right">
        <div class="fcm_text">
          <h2 class="fcm_tag">
            <span class="fcm_icon cf-icon cf-icon-date"></span>
            Featured event
          </h2>
          <h1 class="fcm_headline">Consumer Advisory Board meeting</h1>
          <p class="fcm_body">Oct 22, 2015 @ 10:00AM EDT <br/>Washington, DC</p>
          <a class="fcm_cta jump-link">Read more about the event</a>
        </div>
        <div class="fcm_visual">
          <img src="http://placekitten.com/g/480/270">
          
        </div>
      </section>
      
      <section class="fcm2 fcm2__right u-mt30">
        <div class="fcm2_text">
          <h2 class="fcm2_tag">
            <span class="fcm2_icon cf-icon cf-icon-date"></span>
            Featured event
          </h2>
          <h1 class="fcm2_headline">Consumer Advisory Board meeting</h1>
          <p class="fcm2_body">Oct 22, 2015 @ 10:00AM EDT <br/>Washington, DC</p>
          <a class="fcm2_cta jump-link">Read more about the event</a>
        </div>
        <div class="fcm2_visual">
          <img src="http://placekitten.com/g/480/270">
          
        </div>
      </section>
      
      
      <section class="fcm3 fcm3__right u-mt30">
        <div class="fcm3_text">
          <h2 class="fcm3_tag">
            <span class="fcm3_icon cf-icon cf-icon-date"></span>
            Featured event
          </h2>
          <h1 class="fcm3_headline">Consumer Advisory Board meeting</h1>
          <p class="fcm3_body">Oct 22, 2015 @ 10:00AM EDT <br/>Washington, DC</p>
          <a class="fcm3_cta jump-link">Read more about the event</a>
        </div>
        <div class="fcm3_visual">
          <div class="fcm3_wrapper">
          <img src="http://placekitten.com/g/480/270">
          </div>
        </div>
      </section>
      
      
      <div class="content-l u-mt30">
        <div class="content-l_col content-l_col-1-3">

          <p>The 
            <a class="icon-link icon-link__external-link" href="http://www.benefits.va.gov/homeloans/" target="_blank">
              <span class="icon-link_text">Department of Veterans' Affairs (VA)</span>
            </a>
           has a loan program for <a href="http://www.benefits.va.gov/homeloans/purchaseco_certificate.asp" target="_blank">eligible veterans, current servicemembers, and surviving spouses</a>. The loans are made by private lenders and guaranteed by the VA. </p>
        </div>
        <div class="content-l_col content-l_col-2-3">

          <p>The 
            <a class="icon-link icon-link__external-link" href="http://www.benefits.va.gov/homeloans/" target="_blank">
              <span class="icon-link_text">Department of Veterans' Affairs (VA)</span>
            </a>
           has a loan program for <a href="http://www.benefits.va.gov/homeloans/purchaseco_certificate.asp" target="_blank">eligible veterans, current servicemembers, and surviving spouses</a>. The loans are made by private lenders and guaranteed by the VA. </p>
        </div>
      </div>
    </section> <!-- /.content_main -->
  </div>
</main>

{% endblock %}